<header class="header">
	<a href="/" class="header__logo">PenPalette</a>
	<nav class="header__nav">
		<ul>
			<li>
				<a href="/" class="<%= isActiveRoute('/',currentRoute) %>">Home</a>
			</li>
			<% if(user){ %>
				<li>
					<a href="/user/dashboard" class="<%= isActiveRoute('/user/dashboard',currentRoute) %>">Dashboard</a>
				</li>
			<% } else { %>
				<li>
					<a href="/login" class="<%= isActiveRoute('/login',currentRoute) %>">Login</a>
				</li>
			<% } %>
		</ul>
	</nav>

	<div class="header__button">
		<button class="searchBtn" aria-expanded="false">
			Search
			<span class="material-symbols-outlined">
				search
			</span>
		</button>
	</div>
</header>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />