<div class="author">
	<h1 class="author__heading">Hi, Im Hetarth Jain</h1>
	<p class="author__body">Economics and Policy</p>
</div>
<!-- <img src="" alt="img" class="post-img" width="980" height="530"> -->
<section class="articles">
	<h2 class="article__headings">Latest Posts</h2>
	<ul class="article-ul">
		<% data.forEach(post => { %>
		<li>
			<a href="/post/<%= post._id %>">
				<span><%= post.title %></span>
				<span class="article-list__date"><%= post.createdAt.toDateString() %></span>
			</a>
		</li>
		<% }) %>
	</ul>
	<% if (nextPage !== null) { %>
    	<a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  	<% } %>
</section>