<h3>Sign In</h3>
<form action="/user" method="POST">
	<label for="username">Username</label>
	<input type="text" placeholder="Enter Username" name="username">

	<label for="password" method="POST">Pasword</label>
	<input type="text" placeholder="Enter Password" name="password">

	<input type="submit" value="Login" class="btn">
</form>
<a href="/register">If not Registered, Sign Up now!</a>
<!-- <input type="submit" class="btn"> -->